.intro{
    border: 1px blue solid;
    height: 27%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.portrait{
    height: 75%;
    width: 47%;
    border: 1px green solid;
}

.portrait img{
    margin: 10%;
    height: 70%;
    width: 70%;
    overflow: auto;
    border-radius: 50%;
}

/* orders decides scopes */
.portrait:hover img{
    opacity: 0.5;
}

.brief {
    border: 1px greenyellow solid;
    height: 100%;
    width: 50%;
}

.brief p{
    margin: 10%;
}

.social-media{ 
    height: 23%;
    width: 47%;
    border: 1px red solid;
    display: flex;
}

.icon{
    border: 0.5px black solid;
    margin: auto;
    /* margin: 5%; */
}

.icon img {
    width:60%;
    height: 60%;
}


