.header {
    /* border: 1px red solid; */
    height: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.select {
   margin: 1%;
   width: 15%;
   height: 80%;
   /* opacity: 0.5; */
   border-bottom: 1px solid;
   border-bottom-color: lightgray;
}
.header span{
    font-size: 1.5vh; 
    opacity: 0.5; 
    /* border: 1px black solid; */
}

.header :hover span{
    opacity: 1;
}

.header :hover .select{
   border-bottom-color: black;
}