.about-box{
    /* border: 1px pink solid; */
    margin: auto;
    display: flex;
    width: 80%;
}
.about-box a{
    text-decoration: none;
    color: black;
}
.about-box :hover a, :visited a, :active a{
    color: rgb(83, 141, 83);
}
.info{
    /* border: 1px green solid; */
    text-align: left;
    font-weight: 400;
    font-size: 1vh;
    margin-bottom: 2%;
    width: 80%;
}
.name{
    font-weight: 600;
    font-size: 1.25vh;   
    margin-bottom: 1%;
}
.side-box{
    /* border: 1px green solid; */
    width: 20%;
    height: 100%;
    font-size: 60%;
}

.date{
    font-weight: 300;
    font-size: 0.9vh;
    font-style: italic;
}

@media only screen and (min-width: 961px){
    
    .info{
        font-size:1.5vh;
    }
    .side-box{
        font-size: 1vw;
    }

    .name{
        font-size: 1.6vh;
    }
    
    .date{
        font-size:0.7vw;
    }
    .des{
        font-size: 1.5vh;
        line-height: 2vh;
    }

}