
.footer-content{
    /* border: 1px black solid; */
    padding: 2%;
    border-top: 1px lightgrey solid;
    text-align: center;
    margin: auto;
    color: #575757;
    overflow-x: hidden; 
    overflow-y: auto;
    font-weight: 350;
    font-style: italic;
    font-size: 1.5vh; 
}